<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style1.css">
    <title>About</title>
</head>
<body>
    <nav class="navbar">
        <ul>
 <li><a href="/home">Home</a></li>
 <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <div class="b">
      <p>Don't become a follower,</p>
      <p>begin to take a chance.</p>
      <p>Try becoming a dreamer</p>
      <p>and create your own dance.</p> 
     </div>
     <div class="card-img">
        <img src="../static/o5.jpg">
        <img src="../static/o4.jpg">

     </div>
    
</body>
</html>