<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dance Academy</title>
    <link rel="stylesheet" href="../static/style2.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            
        </ul>
    </div>
    </nav>
<div class="a">
    <h2>Dance Academy</h2>
</div>
<div class="b">
    <p>Join the group of elite dancers.</p>
</div>
<div class="c">
    <p>Start from the beginning and dance your way to the top.</p>
</div>
<div class="d">
    <p>Let's get started.</p>
</div>
<div class="e">
    <a href="/register">Get Started</a>
</div>


</body>
</html>