*{
    margin: 0px;
    padding: 0px;
}

    body{
        background-image: url("/static/o7.webp");
        background-size: cover;
    background-attachment: fixed;
    }

    .navbar{
        background-color: #d43b3b;
        font-family: 'Yeon Sung' ;
        padding: 18px, 14px;
    }
    .navbar ul{
        display: flex;
        flex-direction: row;
        
        align-items: center;
    }
    .navbar li{
        list-style: none;
    }
    .navbar li a{ 
        color:#fff;
       text-decoration: none;
       font-size: 30px;
        padding: 13px 20px;
    }
    .navbar li a:hover{
        color: black;  
    }
  

    .a p{
text-align: center;
font-size: 34px;
color: #fff;
margin-top: 140px;
    }
    .b p{
        text-align: center;
        font-size: 34px;
        color: #fff;
        margin-top: 140px;
            }
        